pagesSource/globalDetails/styleSheets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="styleSheets" type="TStyleSheets" ></xs:element>
	
	<xs:complexType name="TStyleSheets">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="styleSheet" type="TStyleSheet" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TStyleSheet">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="media" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
